[submodule "env/common"]
	path = env/common
	url = https://github.com/jacoby3210/cas.designer.env.common
	branch = main
[submodule "env/desktop.sciter"]
	path = env/desktop.sciter
	url = https://github.com/jacoby3210/cas.designer.env.desktop.sciter
	branch = main
[submodule "env/web.vite"]
	path = env/web.vite
	url = https://github.com/jacoby3210/cas.designer.env.web.vite
	branch = main
[submodule "packages/base"]
	path = packages/base
	url = https://github.com/jacoby3210/cas.designer.package.base
	branch = main
